// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #b2b8c2;
$secondary : #26A69A;
$accent    : #9C27B0;

$pageTitle : #4a525d;
$comment   : #222222;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


@import '~quasar-variables-styl'