// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #F2F2F2;
$secondary : #5068A9;
$accent    : #9C27B0;

$pageTitle : #4a525d;
$comment   : #222222;

$positive  : #32c454;
$negative  : #C10015;
$info      : #31CCEC;
$award   : #F2C037;

@import '~quasar-variables-styl'